input{
    border: 1px solid #afafaf !important;
}

input:focus{
    border: 1px solid #FF6900 !important;
    box-shadow: 0 0 2px #FF6900 !important;
}

select{
    border: 1px solid #afafaf !important;
}

select:focus{
    border: 1px solid #FF6900 !important;
    box-shadow: 0 0 2px #FF6900 !important;
}

.bg-primary{
    background-color: #FF6900 !important;
}

.btn-primary{
    background-color: #FF6900 !important;
    border: 1px solid #FF6900 !important;
}

.btn-primary:hover{
    background-color: #e76507 !important;
    border: 1px solid #FF6900 !important;
}