input{
    /* border-color: 2px rgb(28, 0, 128) !important; */
   
    border: 1px solid #afafaf !important;
    margin-left: 11px !important;
}

input:focus{
    border: 1px solid #FF6900 !important;
    box-shadow: 0 0 2px #FF6900 !important;
}

.bg-primary{
    background-color: #FF6900 !important;
}

.bg-gray{

}