.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: all 0.3s ease; /* Suaviza a transição */
}
.card{
    cursor: pointer;
}